/*
** Riccardo Palombo - https://riccardo.im
** Preparato per la community Patreon: patreon.com/riccardopalombo
*/

configuration {
  timeout {
      delay:  5;
      action: "kb-cancel";
  }
  drun-display-format: "<span text-transform='uppercase'>{name}</span>";
  display-drun: "";
  hover-select: true;
  me-select-entry: "";
  me-accept-entry: [MousePrimary];
}
@theme "waybar-blue.rasi"
