/*
** Waybar Blue Rofi Theme - Aligned with Waybar Style
*/

* {
    background-color:     transparent;
    text-color:           #ffffff;
    font:                 "JetBrains Mono Bold 10";
}

window {
    anchor:     south;
    location:   south west;
    width:      40%;
    height:     34;
    padding:    0;
    children:   [ horibox ];
    y-offset:   -38px;
    x-offset:   8px;
    background-color: #3281EA;
    border: 2px;
    border-color: #ffffff;
}

horibox {
    orientation: horizontal;
    children:   [ prompt, entry, listview ];
    background-color: #3281EA;
}

entry {
    expand:     false;
    width:      8em;
    padding:    8 0 0 8;
    text-color: #ffffff;
    background-color: #3281EA;
}

listview {
    layout:     horizontal;
    spacing:    15px;
    lines:      50;
    padding:    8 0 0;
    background-color: #3281EA;
}

element {
    padding: 0 8px;
    background-color: #3281EA;
}

element selected {
    text-color:       #3281EA;
    background-color: #ffffff;
}

element-text, element-icon {
    background-color: inherit;
    text-color:       inherit;
    highlight:        bold;
}

prompt {
    background-color: #ffffff;
    text-color:       #3281EA;
    padding:          8 12 0 12;
    font:             "JetBrains Mono Bold 10";
}
